<!DOCTYPE html >
<html lang="zh-CN">

<head>
    <title>SkylineBin的技术成长之路</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://store.skylinebin.com/logo/SkylineBin.png" type="image/png">
    <!--<link href="https://store.skylinebin.com/cdn/bootstrap.min.css" rel="stylesheet">
    <link href="https://store.skylinebin.com/cdn/bootstrap-grid.min.css" rel="stylesheet">-->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/4.0.0/css/bootstrap-grid.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <!--<div id="loading" class="loader loader-clock is-active">-->
    <div id="content" class="contents">
        <h2 class="headtitle">SkylineBin's Index Page</h2>
        <div id="maintop" class="navbar" v-cloak>
            <div v-for="item in sites" :key="item._id" :id="item.catename" style="width: 100%;">
                <div class="titlestyle" :style="{color: item.color}">{{item.catename}}</div>
                <div v-for="(sitem,sindex) in item.webname" class="itemcontents">
                    <a class="ahrefstyle" :href="item.weburl[sindex]" target="_blank">
                        <div class="websitestyle" :style="{background: item.color, border: 'solid 1px'+ item.color}" :title="item.webname[sindex]">
                            {{item.webname[sindex]}}
                        </div>
                    </a>
                </div>
                <div class="clearboth"></div>

            </div>

        </div>
        <div id="mainconts" class="mainconts">

        </div>

    </div>

    <!--<audio id="backgroundmusic" hidden="hidden" autoplay="autoplay" controls="controls" loop="loop" preload="auto">
        <source src="./RainyMood.mp3" /> Your browser version is too low and does not support audio tag autoplay.
    </audio>-->

    <div id="footer" class="footer footerloading">
        <div id="copyright" style="width:400px;margin:0 auto; padding:10px 0;padding-top:20px;height:20px;line-height:20px;color:#939393;">
            &copy; 2023 SkylineBin <a target="_blank" href="https://beian.miit.gov.cn/" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;color:#939393;">鄂ICP备18015484号-1</a>
        </div>
        <div style="width:300px;margin:0 auto; padding:10px 0;">
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42011102002416" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                <img src="https://store.skylinebin.com/website/beian.png" style="float:left;" alt="beian" />
                <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">鄂公网安备42011102002416号</p>
            </a>
        </div>
    </div>

    <script src="https://cdn.staticfile.org/vue/2.5.17/vue.min.js"></script>
    <!--<script src="https://store.skylinebin.com/cdn/vue.js"></script>-->
    <!-- <script src="https://store.skylinebin.com/js/axios.min.js"></script> -->
    <script src="https://cdn.staticfile.org/axios/0.27.2/axios.min.js"></script>
    <script src="https://store.skylinebin.com/forwebsite/js/myconsole.js"></script>
    <!--hide tencent analysis-->
    <!--<script type="text/javascript" src="https://tajs.qq.com/stats?sId=65981492" charset="UTF-8"></script>-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124250334-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-124250334-2');
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?011b551b08307639b0a5845a3cf486a2";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script>
        document.addEventListener('visibilitychange', function () {
            // when user leaves this page
            if (document.visibilityState == 'hidden') {
                document.title = "Don't leave me alone~(つд⊂)";
            }
            // when user comes back
            if (document.visibilityState == 'visible') {
                document.title = "SkylineBin's Index";
            }
        })
    </script>

    <script>

        let navapp = new Vue({
            el: '#maintop',
            data: {
                "sites": new Array({}),
                "mainmargin": {
                    marginTop: "2em",
                    marginLeft: "10%",
                    marginRight: "10%"
                },
            },
            methods: {
                handleClick: function () {
                    this.rain = !this.rain
                    if (this.rain) {
                        this.girltalk = "戳我一下，天就晴了...";
                        document.getElementById("backgroundmusic").play();

                    } else {
                        this.girltalk = "别捏我了，我一哭就会下雨..."
                        document.getElementById("backgroundmusic").pause();
                    }
                },
                getallsites: function () {
                    axios.get('./sites.json').then(function (response) {
                        var sitedata = response.data;
                        var siteresult = sitedata.result;
                        this.sites = siteresult;
                        
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            },
            mounted: function () {
                // this.getallsites();

            },
        });

        function getallsites() {
            axios.get('./sites.json').then(function (response) {
                var sitedata = response.data;
                var siteresult = sitedata.result;
                navapp.sites = sitedata.result;
                document.getElementById("footer").classList.remove('footerloading');

            }).catch(function (error) {
                console.log(error);
            });
        }
        getallsites();
    </script>
</body>

</html>